@model PrisonAdministrationSystem.Models.StaffsVewModel
@{
    ViewBag.Title = "Staffs";
}
<div class="body-header">
    <h2 class="form-header-text">Staffs</h2>
</div>

<ul>
    @foreach (var staff in Model.Staffs)
    {
        <li>
            @staff.Role.Name
        </li>
    }
</ul>


